body{
    background-image: url("images/naise_pic.jpeg");
    background-size: stretch;
    text-align: center;
    align-content: stretch;
}

li{
  list-style-type: none;
}

p{
  text-align: left;
  align-content: center;
  margin: auto;
  color: black;
  font-size: 20px;
  width: 60%;
  margin-bottom: 0;
  text-indent: 1.5em;
}
p+p{
  text-indent: 1.5em;
  margin-top: 0;
}

navigator{
  position: absolute;
  left: 20px;
  top: 70px;
}
main{
  align-content: center;
}
img{
  align-self: center;
}
